<td class="sidebar round">
  <strong><%= link_to "Back", current_user %></strong><br />
  <strong><%= link_to "Add machine", add_machine_path %></strong><br />
  <strong><%= link_to "Add land", add_land_path %></strong><br />
  <strong><%= link_to "Add tractor driver", add_tractor_driver_path %></strong><br />
  <strong><%= link_to "Add operation", add_operation_path %></strong><br />
</td>