<h1>Get reports</h1>

<table>
  <th> Choose report </th>
  <tr>
   <td><%= link_to "Get salary of current tractor driver", new_salary_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Get fuel loads of current tractor and the approximate cost", "#"%></td>
  </tr>
  <tr>
    <td><%= link_to "Get drivers sorted by salary", "#"%></td>
  </tr>
  <tr>
    <td><%= link_to "Get drivers sorted by processed deckers", "#"%></td>
  </tr>
  <tr>
    <td><%= link_to "Get tractors sorted by amount of", "#" %></td>
  </tr>
</table>

<br /> 

