<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="drop-down menu">
    Select land<br />
    <select name="report[land_name]">
      <%= @lands.each do |land|%>
       <option><%= land.name %></option>
      <% end %>
    </select>
  <div class="field">
    <%= f.label :tractor_driver_name %><br />
    <%= f.text_field :tractor_driver_name %>
  </div>
  <div class="field">
    <%= f.label :tractor_code %><br />
    <%= f.text_field :tractor_code %>
  </div>
  <div class="drop-down menu">
    Select operation<br />
    <select name="report[operation_name]">
      <%= @operations.each do |operation|%>
       <option><%= operation.name %></option>
      <% end %>
    </select>
  <div class="field"> 
    <%= f.label :decker %><br />
    <%= f.number_field :decker %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
