<h1>Listing reports</h1>

<table>
  <tr>
    <th>Land name</th>
    <th>Tractor driver name</th>
    <th>Tractor code</th>
    <th>Operation name</th>
    <th>Decker</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.land_name %></td>
    <td><%= report.tractor_driver_name %></td>
    <td><%= report.tractor_code %></td>
    <td><%= report.operation_name %></td>
    <td><%= report.decker %></td>
    <td><%= report.date %></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_report_path %>
