<p id="notice"><%= notice %></p>

<p>
  <b>Land name:</b>
  <%= @report.land_name %>
</p>

<p>
  <b>Tractor driver name:</b>
  <%= @report.tractor_driver_name %>
</p>

<p>
  <b>Tractor code:</b>
  <%= @report.tractor_code %>
</p>

<p>
  <b>Operation name:</b>
  <%= @report.operation_name %>
</p>

<p>
  <b>Decker:</b>
  <%= @report.decker %>
</p>

<p>
  <b>Salary of the driver:</b>
  <%= @report.salary %>
</p>

<p>
  <b>Approximate fuel cost:</b>
  <%= @report.approximate_fuel_cost %>
</p>

<p>
  <b>Date:</b>
  <%= @report.date %>
</p>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
